@import url(http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Oswald|Lato|Droid+Sans|PT+Sans|Source+Sans+Pro|Open+Sans+Condensed:300|Roboto+Condensed|Droid+Serif|Ubuntu|Raleway|Montserrat|PT+Sans+Narrow|Roboto+Slab|Lobster|Arimo|Yanone+Kaffeesatz|Lora|Bitter);

html, body {
    padding:0;
    margin:0;
}

.top-navigation{
    border-radius: 0;
}

.navbar-nav>li>.dropdown-menu>li:hover{
  background-color: #FFFFFF;
}

.dropdown-menu>li>a{
    color:#000000;
    background-color: #FFFFFF;
}

nav ul li{

}

.dropdown-menu>li>a:hover{
    color: #FFFFFF;
    background-color:#000000;
}

.dropdbut{
	font-size:2rem;
}

nav .brand-logo{
	margin-left: 25px;
    text-decoration: none;
}

.slider .slides li .caption{
    color:#000000;
    font-size: 50px;
}

.grey-text.text-lighten-3{
    color:#000000 !important;
    font-size: 30;
}

.slider-texts{
	background-color:rgba(189, 195, 199,0.7);
	width: 100% !important;
	left:0% !important;
	top:65% !important;
}

.navbar-fixed nav{
	/*height: 70px;*/
}

nav ul a{
	margin-top: 10px;
	font-size: 18px;
	font-family: "Open+Sans";
	color:#FFFFFF;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color:#000000;
	background-color: #16a085;
	border-color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a{
	color:#FFFFFF;
	font-family: "Open+Sans";
}

nav ul a:hover{
	font-size: 18px;
	/*font-family: "Roboto";*/
	text-decoration: none;
	border-bottom: 4px solid #ecf0f1;
	color:#000000;
	/*z-index: 999999;*/
}

.navbar-default{
	background-color:rgba(26, 188, 156,1.0);
	border-color:rgba(26, 188, 156,1.0);
}

.slider .indicators .indicator-item{
	background-color: rgba(127, 140, 141,1.0);
}

.slider .indicators .indicator-item.active{
	background-color: rgba(22, 160, 133,1.0);
}

.parallax-container{
	margin-top:20px;
	height:300px;
}

.card{
	margin-left:5px;
	margin-right: 5px;
}

.card .card-image img{
	height:200px;
	width: 100%;
	left: 0;
	right:0;
}

.home-card{
	/*background-color: rgba(52, 73, 94, 0.7);*/
	margin-right: 30px;
	margin-left: 65px !important;
	margin-top: 20px;
	padding-left: 0 !important;
	padding-right:  0 !important;
}

.card .card-image{
	width:100%;

	/*margin-left: inherit;*/
	/*margin-right: inherit;*/
}

.card .card-image .card-title{
	left:0;
	top:55%;
	height:60px;
	padding-top: 13px;
}

.title-block{
  background-color: rgba(52, 73, 94,0.8);
}

.card .card-action a{
	color:rgba(26, 188, 156,1.0);
	font-family: "Source+Sans+Pro";
}

.card .card-action a:hover{
	color:rgba(22, 160, 133,1.0);
	font-weight:bold;
	text-decoration: none;
}

footer.page-footer{
	margin-top:0px;
	border-top:0px;
	/*padding-top: 0px;*/
}

div.vertical-line{
  width: 0px; /* Use only border style */
  height: 220px;
  float: left; 
  border: 1px inset; /* This is default border style for <hr> tag */
  margin-right: 10px;
}

.home-footer-title{
	font-family: "Ubuntu";
}

.limited{
	font-size: 17px;
	letter-spacing: 5px;
}

.reach{
	font-size: 15px;
}

.home-contacts-title{
    font-family: "Montserrat";
    text-decoration: underline;
}

.social-contacts{
	font-size: 20px;
	
}

a.social{
	color:#000000;
}

a.social:hover{
	text-decoration: none;
	font-weight: bold;
}

.social{
	margin-left: 15px;
}

.social-icon{
	padding-right: 20px;
	padding-right: 15px;
}

.facebook{
	color:rgba(41, 128, 185,1.0);
	font-weight: bold;
}

.googleplus{
	color:rgba(231, 76, 60,1.0);
	font-weight: bold;
}

.twitter{
	color:rgba(52, 152, 219,1.0);
	font-weight: bold;
}

.instagram{
	color:#993300;
	font-weight: bold;
}

.mail{
    letter-spacing: 3px;
}